{% extends "kino/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="{% static 'kino/img/mk.jpeg' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href=""><img src="{% static 'kino/img/m.png' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href=""><img src="{% static 'kino/img/d.png' %}" class="d-block w-100" alt="..."></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <h2 class="text-center">Смотрите сегодня, <span>8 сентября</span></h2>
    </div>
</div>
<div class="row mt-2 ms-1 me-1 d-flex justify-content-between">
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/1.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Dune</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/2.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Холодный расчет</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/3.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Belfast</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/4.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">По соседству</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/1.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Dune</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/2.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Холодный расчет</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/3.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Belfast</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/4.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">По соседству</a></h5>
            <a href="#" class="btn btn-danger">Купить билет</a>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <h2 class="text-center">Смотрите скоро</h2>
    </div>
</div>
<div class="row mt-2 ms-1 me-1 d-flex justify-content-between">
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/5.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Американская ночь</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/6.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Злое</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/7.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Суперзвезда</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/8.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Власть пса</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/5.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Американская ночь</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/6.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Злое</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/7.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Суперзвезда</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
    <div class="card mt-2" style="width: 18rem;">
        <img src="{% static 'kino/img/8.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title mb-4"><a href="#">Власть пса</a></h5>
            <h3>c 1 октября</h3>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <h2 class="text-center">Новости и акции</h2>
    </div>
</div>
<div class="row mt-2">
    <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="{% static 'kino/img/promo1.png' %}" class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href=""><img src="{% static 'kino/img/promo2.png' %}" class="d-block w-100" alt="..."></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <h2 class="text-center">О нас</h2>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <p>MULTIPLEX - це найбільша мережа кінотеатрів в Україні заснована у 2004 році.
            MULTIPLEX - це 28 кінотеатрів та 141 кінозал у найбільших містах України.
            Відповідно до кращої світової практики корпоративного управління, у серпні 2018 року був сформований найвищий орган управління компанією MULTIPLEX – борд, до складу якого увійшли впливові українські підприємці, управлінці і лідери громадської думки.
            MULTIPLEX активно підтримує та інвестує у розвиток українського кінематографу.</p>
    </div>
</div>
{% endblock %}
